# Terraform / Terragrunt artifacts
**/.terragrunt-cache/
**/.terraform/
**/.terraform.lock.hcl
**/.venv/
.venv/
**/__pycache__/
**/.pytest_cache/
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/crash.log
**/crash.*.log
**/.DS_Store

# Local variable files
**/*.tfvars
!**/example.tfvars